name: Build TrixieOS (Kernel + BusyBox + LXQt + X11 + Dual ISO)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential bc bison flex libssl-dev libelf-dev \
          git rsync cpio xorriso grub-pc-bin grub-efi-amd64-bin \
          xorg-dev libx11-dev libxext-dev libxcb1-dev libxinerama-dev libxrandr-dev \
          libxi-dev libxfixes-dev libgl1-mesa-dev wget dialog

    - name: Prepare directories
      run: |
        mkdir -p $GITHUB_WORKSPACE/buildroot/rootfs
        mkdir -p $GITHUB_WORKSPACE/buildroot/iso/boot/grub

    - name: Download and build kernel
      run: |
        cd $GITHUB_WORKSPACE/buildroot
        wget https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.8.tar.xz
        tar -xf linux-6.6.8.tar.xz
        cd linux-6.6.8
        make defconfig
        make -j$(nproc)
        cp arch/x86/boot/bzImage ../iso/boot/vmlinuz

    - name: Setup BusyBox rootfs
      run: |
        cd $GITHUB_WORKSPACE/buildroot
        wget https://busybox.net/downloads/busybox-1.36.1.tar.bz2
        tar -xjf busybox-1.36.1.tar.bz2
        cd busybox-1.36.1
        make defconfig
        make CONFIG_PREFIX=$GITHUB_WORKSPACE/buildroot/rootfs install
        cd $GITHUB_WORKSPACE/buildroot/rootfs
        mkdir -p {proc,sys,dev,etc,home,root,usr/bin,usr/sbin,usr/lib,usr/share,tmp,var}
        sudo mknod -m 622 dev/console c 5 1
        sudo mknod -m 666 dev/null c 1 3
        echo -e '#!/bin/sh\nmount -t proc none /proc\nmount -t sysfs none /sys\necho "TrixieOS - ProjectA tarafından yapıldı"\nexec /bin/sh' > init
        chmod +x init

    - name: Add LXQt minimal
      run: |
        cd $GITHUB_WORKSPACE/buildroot/rootfs
        # Burada LXQt ve X11 kütüphanelerini ekle (pkg ya da önceden compile edilmiş)
        # Örnek: cp -r /some/prebuilt/lxqt/* usr/

    - name: Create initramfs
      run: |
        cd $GITHUB_WORKSPACE/buildroot/rootfs
        find . | cpio -o -H newc | gzip > ../initramfs.cpio.gz
        cp ../initramfs.cpio.gz ../iso/boot/initrd.img

    - name: Create GRUB config
      run: |
        cat > $GITHUB_WORKSPACE/buildroot/iso/boot/grub/grub.cfg << 'EOF'
        set default=0
        set timeout=5

        menuentry "TrixieOS" {
            linux /boot/vmlinuz
            initrd /boot/initrd.img
        }
        EOF

    - name: Build Installer ISO
      run: |
        cd $GITHUB_WORKSPACE/buildroot
        grub-mkrescue -o TrixieOS-Installer.iso iso

    - name: Build VM Live ISO
      run: |
        cd $GITHUB_WORKSPACE/buildroot
        # Installer script rootfs’ten kaldırılırsa
        rm -f rootfs/usr/bin/trixie-installer
        grub-mkrescue -o TrixieOS-VM.iso iso

    - uses: actions/upload-artifact@v4
      with:
        name: TrixieOS-ISOs
        path: |
          buildroot/TrixieOS-Installer.iso
          buildroot/TrixieOS-VM.iso
